# Prerequisites & Compiled Output
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Proprietary Hardware Drivers & Secrets
main/hal/drivers/BSEC/
components/*_private/
*.secret.h
*.secret.c
*.key
*.pem

# ESP-IDF / Build Artifacts
build/
cmake-build-*/
managed_components/
sdkconfig
sdkconfig.old
sdkconfig.ci
dependencies.lock

# IDEs & Workspaces
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
.cache/
.pio/
*.code-workspace

# OS & System Metadata
.DS_Store
Thumbs.db

# Other Repos / Local Envs
.venv/
xiaozhi-esp32/
Debug/
debug/
Release/
release/
out/
bin/
obj/